/* input[type=search] {
  font-size: 1.2rem;
  margin: 2rem 0 0;
  height: 2rem;
  padding: 0.5rem;
} */

.search {
  -webkit-appearance: none;
  border: 1px solid darkgray;
  border-radius: 5px;
  outline: none;
  padding: 10px;
  width: 150px;
  line-height: 30px;
  margin-bottom: 30px;
}
