.card-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #95dada;
  border: 1px solid grey;
  border-radius: 0.4rem;
  padding: 1rem;
  min-height: 15rem;
  cursor: pointer;
  -moz-osx-font-smoothing: grayscale;
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.card-container:hover {
  transform: scale(1.05);
}

h1 {
  font-size: 1.15rem;
  margin: 0.5rem 0 0.3rem;
}

p {
  font-size: 1rem;
}
