.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#app-title {
  color: #0ccac4;
  font-family: 'Bigelow Rules', cursive;
  font-size: 4rem;
  letter-spacing: 0.2rem;
  margin: 1.5rem 0;
}
